<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(user){ %>
        <li>
          <a href="/edit/<%= user._id %>">
            <%= user.username %>
          </a>
          -
          <a href="/delete/<%= user._id %>"
            onclick="return confirm('Tem certeza que deseja excluir?');">
            X
          </a>
        </li>
      <% }) %>
    </ul>
    <hr />
    <hr />
    <p><%= count %> clientes encontrados!</p>
    <p>
      <% for(var i=1; i <= qtdPaginas; i++) {
            if(i !== pagina) {
          %>
            <a href="/users/<%= i %>"><%= i %></a> |
            <%} else {%>
            <%= i %> |
      <% } }%>
      </p>
    <hr />
    <a href="/new">Cadastrar novo cliente</a>
  </body>
</html>